
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  width: 1440px;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  cursor: zoom-in;
}

.gallery-image:hover {
  transform: scale(1.07);
  transition: transform 0.2s;
}
